body {
  background: url("../images/cosmos.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 20px;
  margin: 0 auto;
}